---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<h1>Astro Home</h1>
		<h2>Hello</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ipsum explicabo, laudantium, quas pariatur quos dignissimos temporibus deleniti nihil sit quibusdam provident? Nam vero praesentium, vel minima quod quas voluptates?</p>
		<button>Hello</button>
	</body>
</html>
